<footer>
	<div class="foo-con">
    	<p><%= site.customConfig.copyright%><a href="#"><%- themeConfig.siteDescription %></a></p>
      	<p>
	        <%= site.customConfig.recordNum%>
	        <span>&nbsp;</span>
	        Powered by <a href="https://gridea.dev">Gridea</a>
	        <span>•</span>Theme <a href="http://www.itaolaity.com/">Alin</a>
     	</p>
    </div>
</footer>